@{
    ViewData["Title"] = "Удаление товара из каталога";
}

<form method="post">
  Article: <input type="text" name="article" required />
  <br/>
  <input type="submit" name="submit" value="Удалить" />
</form>
