@{
    ViewData["Title"] = "Добавление нового товара в каталог";
}

<form method="post">
  Id: <input type="text" name="id" required />
  <br/>
  Article: <input type="text" name="article" required />
  <br/>
  Имя: <input type="text" name="name" />
  <br/>
  <input type="submit" name="submit" value="Создать" />
</form>
